# Compiler files
evmchain/cache/
evmchain/out/

# Ignores development broadcast logs
!/broadcast
evmchain/broadcast/*/31337/
evmchain/broadcast/**/dry-run/

# Docs
docs/

# Dotenv file
.env

# Github: don't run tests?
#.github/workflows/test.yml

# btc backend data
btc-backend/data/*

#osx
*DS_Store
*/.DS_Store

evmchain/.env/
