[submodule "evmchain/lib/forge-std"]
	path = evmchain/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "evmchain/lib/openzeppelin-contracts"]
	path = evmchain/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
